<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmnttech.mb.merchant.server.mapper.AttachMapper">
  <resultMap id="BaseResultMap" type="com.mmnttech.mb.merchant.server.model.Attach">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rec_id" jdbcType="VARCHAR" property="recId" />
    <result column="master_id" jdbcType="VARCHAR" property="masterId" />
    <result column="seri_no" jdbcType="INTEGER" property="seriNo" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="attach_url" jdbcType="VARCHAR" property="attachUrl" />
    <result column="com_memo" jdbcType="VARCHAR" property="comMemo" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
</mapper>