<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmnttech.mb.merchant.server.mapper.ComplaintMapper">
  <resultMap id="BaseResultMap" type="com.mmnttech.mb.merchant.server.model.Complaint">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rec_id" jdbcType="VARCHAR" property="recId" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="integrity_code" jdbcType="VARCHAR" property="integrityCode" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="amt" jdbcType="DECIMAL" property="amt" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="step" jdbcType="VARCHAR" property="step" />
    <result column="result_message" jdbcType="VARCHAR" property="resultMessage" />
    <result column="fair_id" jdbcType="VARCHAR" property="fairId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="evaluation" jdbcType="DECIMAL" property="evaluation" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
</mapper>