<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmnttech.mb.merchant.server.database.mappers.MerchantMapper" >
  <resultMap id="BaseResultMap" type="com.mmnttech.mb.merchant.server.database.entity.Merchant" >
    <id column="rec_id" property="recId" jdbcType="VARCHAR" />
    <result column="cpy_name" property="cpyName" jdbcType="VARCHAR" />
    <result column="industry_code" property="industryCode" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="cpy_legal_name" property="cpyLegalName" jdbcType="VARCHAR" />
    <result column="cpy_address" property="cpyAddress" jdbcType="VARCHAR" />
    <result column="address_coor_x" property="addressCoorX" jdbcType="DECIMAL" />
    <result column="address_coor_y" property="addressCoorY" jdbcType="DECIMAL" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="special" property="special" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="svr_tel" property="svrTel" jdbcType="VARCHAR" />
    <result column="auth_step" property="authStep" jdbcType="VARCHAR" />
    <result column="com_stat" property="comStat" jdbcType="VARCHAR" />
    <result column="auth_reason" property="authReason" jdbcType="VARCHAR" />
    <result column="stat" property="stat" jdbcType="CHAR" />
    <result column="clr_act" property="clrAct" jdbcType="VARCHAR" />
    <result column="com_memo" property="comMemo" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="license_no" property="licenseNo" jdbcType="VARCHAR" />
    <result column="ID_card_no" property="idCardNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rec_id, cpy_name, industry_code, area_code, category_code, cpy_legal_name, cpy_address, 
    address_coor_x, address_coor_y, introduction, special, linkman, svr_tel, auth_step, 
    com_stat, auth_reason, stat, clr_act, com_memo, create_date, license_no, ID_card_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmnttech.mb.merchant.server.database.entity.MerchantExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_merchant
    where rec_id = #{recId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_merchant
    where rec_id = #{recId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmnttech.mb.merchant.server.database.entity.MerchantExample" >
    delete from t_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmnttech.mb.merchant.server.database.entity.Merchant" >
    insert into t_merchant (rec_id, cpy_name, industry_code, 
      area_code, category_code, cpy_legal_name, 
      cpy_address, address_coor_x, address_coor_y, 
      introduction, special, linkman, 
      svr_tel, auth_step, com_stat, 
      auth_reason, stat, clr_act, 
      com_memo, create_date, license_no, 
      ID_card_no)
    values (#{recId,jdbcType=VARCHAR}, #{cpyName,jdbcType=VARCHAR}, #{industryCode,jdbcType=VARCHAR}, 
      #{areaCode,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, #{cpyLegalName,jdbcType=VARCHAR}, 
      #{cpyAddress,jdbcType=VARCHAR}, #{addressCoorX,jdbcType=DECIMAL}, #{addressCoorY,jdbcType=DECIMAL}, 
      #{introduction,jdbcType=VARCHAR}, #{special,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, 
      #{svrTel,jdbcType=VARCHAR}, #{authStep,jdbcType=VARCHAR}, #{comStat,jdbcType=VARCHAR}, 
      #{authReason,jdbcType=VARCHAR}, #{stat,jdbcType=CHAR}, #{clrAct,jdbcType=VARCHAR}, 
      #{comMemo,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{licenseNo,jdbcType=VARCHAR}, 
      #{idCardNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmnttech.mb.merchant.server.database.entity.Merchant" >
    insert into t_merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        rec_id,
      </if>
      <if test="cpyName != null" >
        cpy_name,
      </if>
      <if test="industryCode != null" >
        industry_code,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="categoryCode != null" >
        category_code,
      </if>
      <if test="cpyLegalName != null" >
        cpy_legal_name,
      </if>
      <if test="cpyAddress != null" >
        cpy_address,
      </if>
      <if test="addressCoorX != null" >
        address_coor_x,
      </if>
      <if test="addressCoorY != null" >
        address_coor_y,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="special != null" >
        special,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="svrTel != null" >
        svr_tel,
      </if>
      <if test="authStep != null" >
        auth_step,
      </if>
      <if test="comStat != null" >
        com_stat,
      </if>
      <if test="authReason != null" >
        auth_reason,
      </if>
      <if test="stat != null" >
        stat,
      </if>
      <if test="clrAct != null" >
        clr_act,
      </if>
      <if test="comMemo != null" >
        com_memo,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="licenseNo != null" >
        license_no,
      </if>
      <if test="idCardNo != null" >
        ID_card_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        #{recId,jdbcType=VARCHAR},
      </if>
      <if test="cpyName != null" >
        #{cpyName,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null" >
        #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="cpyLegalName != null" >
        #{cpyLegalName,jdbcType=VARCHAR},
      </if>
      <if test="cpyAddress != null" >
        #{cpyAddress,jdbcType=VARCHAR},
      </if>
      <if test="addressCoorX != null" >
        #{addressCoorX,jdbcType=DECIMAL},
      </if>
      <if test="addressCoorY != null" >
        #{addressCoorY,jdbcType=DECIMAL},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="special != null" >
        #{special,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="svrTel != null" >
        #{svrTel,jdbcType=VARCHAR},
      </if>
      <if test="authStep != null" >
        #{authStep,jdbcType=VARCHAR},
      </if>
      <if test="comStat != null" >
        #{comStat,jdbcType=VARCHAR},
      </if>
      <if test="authReason != null" >
        #{authReason,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        #{stat,jdbcType=CHAR},
      </if>
      <if test="clrAct != null" >
        #{clrAct,jdbcType=VARCHAR},
      </if>
      <if test="comMemo != null" >
        #{comMemo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="licenseNo != null" >
        #{licenseNo,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null" >
        #{idCardNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmnttech.mb.merchant.server.database.entity.MerchantExample" resultType="java.lang.Integer" >
    select count(*) from t_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_merchant
    <set >
      <if test="record.recId != null" >
        rec_id = #{record.recId,jdbcType=VARCHAR},
      </if>
      <if test="record.cpyName != null" >
        cpy_name = #{record.cpyName,jdbcType=VARCHAR},
      </if>
      <if test="record.industryCode != null" >
        industry_code = #{record.industryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.areaCode != null" >
        area_code = #{record.areaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryCode != null" >
        category_code = #{record.categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cpyLegalName != null" >
        cpy_legal_name = #{record.cpyLegalName,jdbcType=VARCHAR},
      </if>
      <if test="record.cpyAddress != null" >
        cpy_address = #{record.cpyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.addressCoorX != null" >
        address_coor_x = #{record.addressCoorX,jdbcType=DECIMAL},
      </if>
      <if test="record.addressCoorY != null" >
        address_coor_y = #{record.addressCoorY,jdbcType=DECIMAL},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.special != null" >
        special = #{record.special,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        linkman = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.svrTel != null" >
        svr_tel = #{record.svrTel,jdbcType=VARCHAR},
      </if>
      <if test="record.authStep != null" >
        auth_step = #{record.authStep,jdbcType=VARCHAR},
      </if>
      <if test="record.comStat != null" >
        com_stat = #{record.comStat,jdbcType=VARCHAR},
      </if>
      <if test="record.authReason != null" >
        auth_reason = #{record.authReason,jdbcType=VARCHAR},
      </if>
      <if test="record.stat != null" >
        stat = #{record.stat,jdbcType=CHAR},
      </if>
      <if test="record.clrAct != null" >
        clr_act = #{record.clrAct,jdbcType=VARCHAR},
      </if>
      <if test="record.comMemo != null" >
        com_memo = #{record.comMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.licenseNo != null" >
        license_no = #{record.licenseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardNo != null" >
        ID_card_no = #{record.idCardNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_merchant
    set rec_id = #{record.recId,jdbcType=VARCHAR},
      cpy_name = #{record.cpyName,jdbcType=VARCHAR},
      industry_code = #{record.industryCode,jdbcType=VARCHAR},
      area_code = #{record.areaCode,jdbcType=VARCHAR},
      category_code = #{record.categoryCode,jdbcType=VARCHAR},
      cpy_legal_name = #{record.cpyLegalName,jdbcType=VARCHAR},
      cpy_address = #{record.cpyAddress,jdbcType=VARCHAR},
      address_coor_x = #{record.addressCoorX,jdbcType=DECIMAL},
      address_coor_y = #{record.addressCoorY,jdbcType=DECIMAL},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      special = #{record.special,jdbcType=VARCHAR},
      linkman = #{record.linkman,jdbcType=VARCHAR},
      svr_tel = #{record.svrTel,jdbcType=VARCHAR},
      auth_step = #{record.authStep,jdbcType=VARCHAR},
      com_stat = #{record.comStat,jdbcType=VARCHAR},
      auth_reason = #{record.authReason,jdbcType=VARCHAR},
      stat = #{record.stat,jdbcType=CHAR},
      clr_act = #{record.clrAct,jdbcType=VARCHAR},
      com_memo = #{record.comMemo,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      license_no = #{record.licenseNo,jdbcType=VARCHAR},
      ID_card_no = #{record.idCardNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmnttech.mb.merchant.server.database.entity.Merchant" >
    update t_merchant
    <set >
      <if test="cpyName != null" >
        cpy_name = #{cpyName,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null" >
        industry_code = #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null" >
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="cpyLegalName != null" >
        cpy_legal_name = #{cpyLegalName,jdbcType=VARCHAR},
      </if>
      <if test="cpyAddress != null" >
        cpy_address = #{cpyAddress,jdbcType=VARCHAR},
      </if>
      <if test="addressCoorX != null" >
        address_coor_x = #{addressCoorX,jdbcType=DECIMAL},
      </if>
      <if test="addressCoorY != null" >
        address_coor_y = #{addressCoorY,jdbcType=DECIMAL},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="special != null" >
        special = #{special,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="svrTel != null" >
        svr_tel = #{svrTel,jdbcType=VARCHAR},
      </if>
      <if test="authStep != null" >
        auth_step = #{authStep,jdbcType=VARCHAR},
      </if>
      <if test="comStat != null" >
        com_stat = #{comStat,jdbcType=VARCHAR},
      </if>
      <if test="authReason != null" >
        auth_reason = #{authReason,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        stat = #{stat,jdbcType=CHAR},
      </if>
      <if test="clrAct != null" >
        clr_act = #{clrAct,jdbcType=VARCHAR},
      </if>
      <if test="comMemo != null" >
        com_memo = #{comMemo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="licenseNo != null" >
        license_no = #{licenseNo,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null" >
        ID_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmnttech.mb.merchant.server.database.entity.Merchant" >
    update t_merchant
    set cpy_name = #{cpyName,jdbcType=VARCHAR},
      industry_code = #{industryCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      category_code = #{categoryCode,jdbcType=VARCHAR},
      cpy_legal_name = #{cpyLegalName,jdbcType=VARCHAR},
      cpy_address = #{cpyAddress,jdbcType=VARCHAR},
      address_coor_x = #{addressCoorX,jdbcType=DECIMAL},
      address_coor_y = #{addressCoorY,jdbcType=DECIMAL},
      introduction = #{introduction,jdbcType=VARCHAR},
      special = #{special,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      svr_tel = #{svrTel,jdbcType=VARCHAR},
      auth_step = #{authStep,jdbcType=VARCHAR},
      com_stat = #{comStat,jdbcType=VARCHAR},
      auth_reason = #{authReason,jdbcType=VARCHAR},
      stat = #{stat,jdbcType=CHAR},
      clr_act = #{clrAct,jdbcType=VARCHAR},
      com_memo = #{comMemo,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      license_no = #{licenseNo,jdbcType=VARCHAR},
      ID_card_no = #{idCardNo,jdbcType=VARCHAR}
    where rec_id = #{recId,jdbcType=VARCHAR}
  </update>
</mapper>